body {
    height: 100%;
    background: url(../images/main-bg.jpg);
    font-family: 'Libre Baskerville', serif;
}

.header,
.question-area,
.display,
.answer-area,
.footer,
.image-area {
    text-align: center;
}

.banner {
    background: url(../images/banner.jpg);
}

.display {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    /* padding: 20px; */
}

.display h2,
.display h3 {
    margin-top: 25%;
    font-family: 'Shrikhand';
}

.question-area {
    margin: 50px auto;
}

.answer-area button {
    padding: 5px 10px;
    margin: 10px 20px;
    min-width: 75px;
}

.footer {
    bottom: 0;
    height: 50px;
    width: 100%;
    position: absolute;
    font-size: 12px;
}

.title {
    font-family: 'Eater';
    font-size: 80px;
}

.pic {
    height: 200px;
    width: 300px;
    margin: 20px auto 0;
    padding-bottom: 50px;
}

.wrapper {
    height: 100%;
}

button:hover {
    opacity: .8;
    border-color: purple;
}